@{
    ViewData["Title"] = "Policy-Less-than-350cc";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

    <link rel="stylesheet" type="text/css" href="https://www.honda.com.vn/css/xe-may/dich-vu-sau-ban-hang/chinh-sach-bao-hanh/chinh-sach-bao-hanh.css">
    <link rel="stylesheet" type="text/css" href=" https://www.honda.com.vn/css/tin-tuc/menu.css">
<div class="container">
    <div>
        <div class="col-12">
            <div class="homepage-product-head-right-mobile-v2">
                <div class="hp-mobile-select-text">
                    <p>Trên 350cc</p>
                    <div class="hp-mobile-select-item"><i class="fa fa-angle-down"></i></div>
                </div>
                <div class="hp-mobile-select-menu">
                    <a href="/warranty/policy-less-than-350cc">
                        <p class="select-menu-item"> Dưới 350cc </p>
                    </a>
                    <a href="/warranty/policy-over-350cc">
                        <p class="select-menu-item active"> Trên 350cc </p>
                    </a>
                </div>
            </div>

            <div class="textTitle">CHÍNH SÁCH BẢO HÀNH XE TỪ 350cc TRỞ XUỐNG</div>
            <p class="txt-content" style="margin-top: 5px; padding-bottom: 5px">Công ty Honda Việt Nam chịu trách nhiệm bảo hành đối với các khuyết tật của vật liệu và/ hoặc do sản xuất trong điều kiện sử dụng và bảo dưỡng bình thường.</p>

            <p id="noi-dung-bao-hanh" class="txt-title pb-md-1">1. Nội dung bảo hành: </p>
            <p class="txt-content">Công ty Honda Việt Nam cam kết sẽ sửa chữa lại miễn phí các khuyết tật của vật liệu hoặc/
                và do sản xuất (dưới đây gọi là sửa chữa bảo hành) thông qua các Cửa hàng Bán xe và Dịch vụ do Honda ủy nhiệm (HEAD),
                các trung tâm dịch vụ ủy quyền (HSF, WSS) – dưới đây được gọi là Cửa hàng do Honda ủy nhiệm.</p>
            <p class="txt-content">Các chi tiết đã được thay thế bằng chi tiết mới theo điều kiện bảo hành này sẽ trở thành tài sản của Công ty Honda Việt Nam.
                Công ty Honda Việt Nam sẽ đưa ra quyết định cuối cùng về sửa chữa hoặc thay thế.
            </p>
            <p class="txt-content">
                <b>Các chi tiết dưới đây không thuộc phạm vi bảo hành:</b>
            </p>

            <p class="txt-content">
                - Những phụ tùng thuộc danh mục phụ tùng hao mòn theo thời gian sử dụng (bảng các chi tiết hao mòn tự nhiên) và phụ phẩm, dầu mỡ.
            </p>

            <p class="txt-content">
                - Những bộ phận được thay thế tại cửa hàng không phải Cửa hàng do Honda ủy nhiệm.
            </p>

            <p class="txt-content" style="padding-bottom: 10px;">
                Ngoài các nội dung tại đây, Công ty Honda Việt Nam sẽ thực hiện các trách nhiệm bảo hành khác theo quy định
                của pháp luật (nếu có).
            </p>

            <p id="thoi-gian-bao-hanh" class="txt-title pb-md-1">
                2. Thời gian bảo hành:
            </p>
            <p class="txt-content">
                3 năm hoặc 30.000km tùy theo điều kiện nào đến trước,
                kể từ thời điểm sản phẩm được chính người dùng đầu tiên mua lần đầu/ ngày đăng ký chứng nhận bảo hành.
            </p>
            <P class="txt-content">
                - Bình điện 12V: 12 tháng hoặc 10.000 km tùy theo điện kiện nào đến trước.
                Tuy nhiên, nếu hư hỏng do cách sử dụng sai như: quá sạc, phóng điện quá mức sẽ không được bảo hành.
            </P>

            <P class="txt-content" style="padding-bottom: 10px;">
                - Bình điện hệ thống Hybrid: 3 năm hoặc 30,000km tùy theo điều kiện nào đến trước
            </P>

            <p id="mot-so-truong-hop-khong-bao-hanh" class="txt-title pb-md-1">
                3. Một số trường hợp không bao gồm trong bảo hành
            </p>
            <p class="txt-title">
                3.1. Các vấn đề sau đây sẽ không nhận được sửa chữa bảo hành:
            </p>
            <p class="txt-content">
                1) Bất cứ một hư hỏng nào do nguyên nhân của việc sửa chữa/ điều chỉnh không phải do Cửa hàng do Honda ủy
                nhiệm tiến hành.
            </p>

            <p class="txt-content">
                2) Sử dụng xe không theo chỉ dẫn trong sách hướng dẫn sử dụng (tải trọng tối đa, số người được phép chở, tốc
                độ cầm chừng thấp…) dẫn đến hư hỏng do sử dụng vượt quá mức độ cho phép.
            </p>
            <p class="txt-content">
                3) Bất kỳ việc sửa chữa nào như là kết quả của sự thay đổi trái phép, tu sửa hoặc thay đổi so với thiết kế
                ban đầu được thực hiện (thay đổi công suất hoặc cấu trúc, thay đổi chiều cao yên xe, hàn thêm chi tiết) là
                nguyên nhân gây ra các hỏng hóc.
            </p>

            <p class="txt-content">
                4) Bất cứ hỏng hóc nào xảy ra do việc sử dụng xe làm xe đua, sử dụng trong các cuộc biểu tình hoặc sử dụng
                không đúng mục đích: sử dụng xe kinh doanh như phương tiện chuyển chở công cộng.
            </p>

            <p class="txt-content">
                5) Bất cứ hỏng hóc nào liên quan do việc sử dụng phụ tùng hoặc nhiên liệu không chính hiệu như: nhiên liệu,
                dầu nhớt (dầu động cơ, dầu phanh, dung dịch làm mát…) với các thông số kỹ thuật khác bên ngoài so với sách
                hướng dẫn sử dụng.
            </p>

            <p class="txt-content">
                6) Rỉ sét, bạc màu sơn, hao mòn tự nhiên của các chi tiết theo thời gian sử dụng.
            </p>

            <p class="txt-content">
                7) Những hiện tượng xảy ra mà Honda Việt Nam thấy rằng không ảnh hưởng đến chất lượng và sự hoạt động của xe
                như: tiếng ồn, những rung động nhỏ và vết thấm dầu…
            </p>

            <p class="txt-content">
                8) Những hư hỏng gây ra bởi động đất, bão, lũ lụt, sử dụng xe trong điều kiện ngập nước, thủy kích, tai nạn,
                hỏa hoạn, thiên tai khác.
            </p>

            <p class="txt-content">
                9) Những phụ tùng hư hỏng xảy ra do bảo quản lâu ngày như cao su lão hóa, hay dầu mỡ bị biến chất.
            </p>
            <p class="txt-content">
                10) Hư hỏng gây ra bởi các yếu tố bên ngoài như: đùa nghịch, đất, cát, sỏi, đá, vật cứng sắc nhọn.
            </p>

            <p class="txt-content">
                11) Hư hỏng gây ra bởi các yếu tố bên ngoài như: tàn thuốc lá, hóa chất, phân động vật, muối, mưa axit,
                chuột cắn và các yếu tố tương đương.
            </p>

            <p class="txt-content" style="padding-bottom: 10px">
                12) Những hư hỏng gây ra do vi phạm mục 4 “Quyền lợi và nghĩa vụ của khách hàng”
            </p>
            <p class="txt-title">
                3.2. Trong phạm vi pháp luật cho phép, Honda Việt Nam từ chối bất cứ trách nhiệm do việc mất thời gian hoặc
                các phụ phí như:
            </p>

            <p class="txt-content">
                1) Bất cứ một khoản chi phí nào để khắc phục hậu quả do việc sửa chữa bảo dưỡng không đúng cách đã được thực
                hiện trước đó ở bên ngoài không thuộc hệ thống các Cửa hàng do Honda ủy nhiệm.
            </p>

            <p class="txt-content">
                2) Các chi phí cho việc thay thế các chi tiêt hao mòn tự nhiên, dầu mỡ bị biến chất.
            </p>

            <p class="txt-content">
                3) Chi phí cho các hạng mục kiểm tra, điều chỉnh, sửa chữa không bao gồm trong danh mục kiểm tra định kỳ.
            </p>

            <p class="txt-content" style="padding-bottom: 10px;">
                4) Bồi thường do việc mất thời gian, tổn thất trong công việc kinh doanh, phí liên lạc, ăn ở và các khoản
                khác do xe bị hư hỏng.
            </p>

            <p id="quyen-loi-va-nghia-vu-cua-khach-hang" class="txt-title pb-md-1">
                4. Quyền lợi và nghĩa vụ của khách hàng
            </p>
            <p class="txt-content">
                Để sử dụng xe an toàn và thoải mái, việc kiểm tra và bảo dưỡng xe là hết sức cần thiết. Vì vậy, hãy chú ý
                những điểm sau đây. Trong trường hợp không chú ý các điểm này, chúng tôi từ chối sửa chữa bảo hành cho quý
                khách:
            </p>
            <p class="txt-content">- Sử dụng xe theo đúng phương pháp đã hướng dẫn trong sách hướng dẫn sử dụng.</p>
            <p class="txt-content">- Tiến hành “kiểm tra trước khi vận hành” theo đúng hướng dẫn.</p>
            <p class="txt-content">- Tiến hành kiểm tra định kỳ đúng lịch theo sách hướng dẫn sử dụng.</p>
            <p class="txt-content" style="padding-bottom: 10px;">- Thay thế các bộ phận định kỳ, các chất lỏng, dầu mỡ theo
                đúng sách hướng dẫn sử dụng đã quy định.</p>

            <p id="hieu-luc-bao-hanh" class="txt-title pb-md-1">5. Hiệu lực bảo hành</p>
            <p class="txt-content" style="padding-bottom: 10px;">Bảo hành có hiệu lực khi điền đầy đủ các thông tin cá nhân,
                ký tên, đóng dấu xác nhận của Cửa hàng do Honda
                ủy nhiệm nơi quý khách mua xe trên tờ Chính sách bảo hành.</p>

            <p id="thua-ke-bao-hanh" class="txt-title pb-md-1">6. Thừa kế bảo hành</p>
            <p class="txt-content" style="padding-bottom: 10px;">Trong thời hạn bảo hành nếu chủ xe bán xe cho người thứ
                hai, vui lòng mang xe đến Cửa hàng do Honda ủy nhiệm,
                hoặc truy cập vào ứng dụng My Honda+ của Honda Việt Nam <a href="http://app.honda.com.vn">(đường dẫn tải ứng dụng bên duói)</a> để đăng ký lại thông tin đăng ký
                bảo hành. Trong thời hạn bảo hành còn lại, mọi điều kiện thể hiện trong sửa chữa bảo hành vẫn được đảm bảo.
            </p>
            <p id="sua-chua-bao-hanh" class="txt-title pb-md-1">7. Làm thế nào để nhận được sửa chữa bảo hành</p>
            <p class="txt-content" style="padding-bottom: 10px;">Các sửa chữa bảo hành phải do Cửa hàng do Honda ủy nhiệm
                thực hiện. Để nhận được sửa chữa bảo hành quý khách
                nhất thiết phải mang xe đến Cửa hàng do Honda ủy nhiệm gần nhất. <br>
                Trong trường hợp xe không thể vận hành hoặc vận hành không an toàn, vui lòng liên hệ với Cửa hàng do Honda
                ủy nhiệm gần nhất để được hướng dẫn, hoặc liên hệ với phòng Quan hệ khách hàng để được tư vấn.
            </p>

            <p id="pham-vi-bao-hanh" class="txt-title pb-md-1">
                8. Phạm vi bảo hành
            </p>
            <p class="txt-content" style="padding-bottom: 10px;">
                Việc bảo hành có hiệu lực trên toàn lãnh thổ Việt Nam tại các Cửa hàng do Honda ủy nhiệm. Nếu quý khách mang
                ra nước ngoài thì quyền lợi của quý khách không được đảm bảo. <br>
                Công ty Honda Việt Nam cung cấp Chính sách bảo hành này để đảm bảo sửa chữa miễn phí theo các điều khoản và
                điều kiện trên đây. Đối với những vấn đề xảy ra sau thời gian bảo hành, việc đảm bảo này không được áp dụng.
                Nếu quý khách có bất kỳ vấn đề gì, xin vui lòng liên hệ với Cửa hàng do Honda ủy nhiệm hoặc Công ty Honda
                Việt Nam để được giải đáp mọi thắc mắc, yêu cầu của quý khách.
            </p>

            <p id="cac-luu-y" class="txt-title pb-md-1">
                9. Các lưu ý trong quá trình sử dụng:
            </p>
            <p class="txt-title">Sử dụng phụ tùng chính hiệu:</p>
            <p class="txt-content" style="padding-bottom: 10px;">Để đảm bảo sự an toàn tối đa khi sử dụng xe, chúng tôi
                khuyên quý khách chỉ nên sử dụng phụ tùng chính hiệu
                được cung cấp bởi Honda Việt Nam thông qua các Cửa hàng do Honda ủy nhiệm.Công ty Honda Việt Nam cung cấp
                các phụ tùng thay thế trong suốt thời gian sản xuất hàng loạt. Tuy nhiên, ngay cả sau khi ngừng sản xuất
                hàng loạt, Honda Việt Nam sẽ tiếp tục cung cấp phụ tùng thay thế trong một thời gian nhất định. Để biết thêm
                chi tiết, xin quý khách vui lòng liên lạc với Cửa hàng do Honda ủy nhiệm nơi gần nhất.</p>
            <p class="txt-title">Thực hiện bảo dưỡng định kỳ đầy đủ</p>
            <p class="txt-content" style="padding-bottom: 10px;">Một chiếc xe máy được bảo dưỡng tốt là yếu tố đảm bảo cho
                an toàn lái xe, tính kinh tế và yên tâm khi lái xe,
                giúp giảm ô nhiễm môi trường. <br>
                Để tạo thuận lợi cho việc tham khảo của quý khách về các mục kiểm tra định kỳ cho các loại xe do Honda Việt
                Nam sản xuất, chúng tôi xin tóm tắt các mục cần kiểm tra theo số km và số tháng sử dụng thích hợp, tương ứng
                với thời gian kiểm tra tại các Cửa hàng do Honda ủy nhiệm. Những hướng dẫn này đều dựa trên giả thiết rằng
                chiếc xe này sẽ được sử dụng đúng mục đích như đã thiết kế. Nếu xe được sử dụng ở những nơi có điều kiện ẩm
                ướt, bụi bẩn, hoặc chạy ở tốc độ cao thì phải được bảo dưỡng thường xuyên hơn lịch bảo dưỡng. <br>
                Nếu xe của quý khách bị đổ hoặc va chạm, hãy mang xe đến Cửa hàng do Honda ủy nhiệm để được kiểm tra các bộ
                phận chính, và thực hiện sửa chữa (nếu cần). <br>
                Quý khách vui lòng thực hiện kiểm tra định kỳ theo đúng lịch trình để đảm bảo quyền lợi bảo hành. Nếu không
                thực hiện đúng & đủ, quyền lợi của quý khách sẽ bị mất đồng thời chúng tôi có thể từ chối sửa chữa bảo hành
                những hư hỏng do việc thiếu bảo dưỡng gây ra.
            </p>
            <p>Đường dẫn tải ứng dụng My Honda+: <a href="http://app.honda.com.vn">http://app.honda.com.vn</a></p>


            <div class="row">
                <div class="col-md-6">
                    <p class="txt-title" style="padding-bottom: 10px">Bảng 1: Các phụ tùng hao mòn theo thời gian sử dụng (bảng các chi tiết hao mòn tự nhiên)</p>
                    <table class="table">
                        <tbody>
                            <tr class="height-tb">
                                <td class="stt"
                                    style="border-top: 1px solid; font-weight: bold; background-color: #BFBFBF; text-align: center">STT
                                </td>
                                <td class="phu-tung"
                                    style="border-top: 1px solid; font-weight: bold; background-color: #BFBFBF; text-align: center">PHỤ
                                    TÙNG</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">1</td>
                                <td class="phu-tung">Bugi</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">2</td>
                                <td class="phu-tung">Lưới lọc dầu máy</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">3</td>
                                <td class="phu-tung">Lọc gió</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">4</td>
                                <td class="phu-tung">Lưới lọc xăng</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">5</td>
                                <td class="phu-tung">Đĩa ly hợp</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">6</td>
                                <td class="phu-tung">Má phanh</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">7</td>
                                <td class="phu-tung">Guốc phanh</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">8</td>
                                <td class="phu-tung">Xích tải</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">9</td>
                                <td class="phu-tung">Nhông tải (Đĩa xích)</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">10</td>
                                <td class="phu-tung">Dây đai, bi văng ly hợp</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">11</td>
                                <td class="phu-tung">Săm, lốp</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">12</td>
                                <td class="phu-tung">Bóng đèn</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">13</td>
                                <td class="phu-tung">Cầu chì</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">14</td>
                                <td class="phu-tung">Chổi than, cổ gốp mô-tơ đề</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">15</td>
                                <td class="phu-tung">Gioăng đệm</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">16</td>
                                <td class="phu-tung">Chi tiết cao su</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">17</td>
                                <td class="phu-tung">Các loại khác tương tự như mô tả
                                    trên đây</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <p class="txt-title" style="padding-bottom: 34px">Bảng 2: Phụ phẩm và dầu mỡ </p>
                    <table class="table">
                        <tbody>
                            <tr class="height-tb">
                                <td class="stt"
                                    style="border: 1px solid; font-weight: bold;background-color: #BFBFBF; text-align: center">
                                    STT&nbsp;</td>
                                <td class="phu-tung"
                                    style="border: 1px solid; font-weight: bold; background-color: #BFBFBF; text-align: center">LOẠI PHỤ
                                    PHẪM,
                                    DẦU MỠ</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">1&nbsp;</td>
                                <td class="phu-tung">Dầu động cơ</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">2&nbsp;</td>
                                <td class="phu-tung">Dầu phanh</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">3&nbsp;</td>
                                <td class="phu-tung">Dầu truyền động cuối</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">4&nbsp;</td>
                                <td class="phu-tung">Dung dịch l&agrave;m m&aacute;t</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">5&nbsp;</td>
                                <td class="phu-tung">Dầu phanh</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">6&nbsp;</td>
                                <td class="phu-tung">C&aacute;c loại dầu mỡ kh&aacute;c</td>
                            </tr>
                            <tr class="height-tb">
                                <td class="stt">7&nbsp;</td>
                                <td class="phu-tung">C&aacute;c loại kh&aacute;c tương đương như m&ocirc;
                                    tả tr&ecirc;n đ&acirc;y</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <img class="w-100" src=https://www.honda.com.vn/images/xe-may/document-hdsd-350cc-tro-xuong.jpg alt="">
            </div>
        </div>
    </div>
</div>
