@model Motorcycle_Shop_Project.Models.UserInfoDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Motorcycle_Shop_Project.Models
@using Graduation_API.Services.ClassServices;
@{
    ViewBag.Title = "Change password";
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="https://www.honda.com.vn/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://www.honda.com.vn/css/common.css?v=1.0" />
    <link rel="stylesheet" type="text/css" href=https://www.honda.com.vn/css/xe-may/san-pham.css>
    <link rel="stylesheet" type="text/css" href="https://www.honda.com.vn/css/xe-may/chi-tiet.css?v=1.0">
    <link rel="stylesheet" type="text/css" href="https://www.honda.com.vn/css/slick-theme.min.css">
    <link rel="stylesheet" type="text/css" href="https://www.honda.com.vn/css/slick.min.css">
    <link rel="stylesheet" href="~/css/designTextBox.css" />
    <link href="~/css/Sidebar_icons_animated.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/versions.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/js/all.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/mapsed.js"></script>
    <script src="~/bundles/jquery"></script>
    <script src="~/js/01-custom-places-example.js"></script>
    <script src="~/js/modernizer.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCKjLTXdq6Db3Xit_pW_GK4EXuPRtnod4o"></script>
<style>
    label{
        color:black;
    }
    h1{
        color:black;
        font-weight:500;
    }
</style>
<h1>ĐĂNG KÍ</h1>
@if (ViewBag.Message != "Không tìm thấy thông tin trùng khớp! Vui lòng nhập lại thông tin")
{
    <div class="alert alert-success" role="alert">
        <h3>@ViewBag.Message</h3>
    </div>
}else{
    <div class="alert alert-danger" role="alert">
        <h3>@ViewBag.Message</h3>
    </div>
}
<form asp-action="ChangePassword" class="form">
    <div class="row mt-5">
        <div class="col-md-4">
            <label class="col-md-7"><strong>Email:</strong></label>
            <div class="form-input">
                <span class="icon"><i class="fa-solid fa-lock"></i></span>
                <input asp-for="Email" type="email" placeholder="Tài khoản / Email" required/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <label class="col-md-7"><strong>Mật Khẩu hiện tại:</strong></label>
            <div class="form-input">
                <span class="icon"><i class="fa-solid fa-lock"></i></span>
                <input asp-for="password" type="password" placeholder="Mật khẩu hiện tại/ Password" required/>
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <label class="col-md-7"><strong>Mật Khẩu mới:</strong></label>
            <div class="form-input">
                <span class="icon"><i class="fa-solid fa-lock"></i></span>
                <input asp-for="new_password" type="password" placeholder="Mật khẩu mới/ Password" required/>
                <span asp-validation-for="new_password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <label class="col-md-7"><strong>Xác nhận Mật Khẩu mới:</strong></label>
            <div class="form-input">
                <span class="icon"><i class="fa-solid fa-lock"></i></span>
                <input asp-for="confirm_password" type="password" placeholder="Mật khẩu mới/ Password" required/>
                <span asp-validation-for="confirm_password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div style="height:42px;"></div>
            <input type="submit" value="Xác nhận đổi" class="btn btn-success" />
        </div>
        
    </div>
</form>
<script>
    var alert = document.querySelector('.alert')
    if(alert != null){
        setTimeout(function(){
            alert.remove()
        }, 3000)
    }
</script>